.links_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  background-color: #f2f2f2;
  border-radius: 15px;
  min-width: 500px;
  max-width: 40vw;
  height: 70px;
  padding: 0 20px;
}

.payreq_bg {
  background-color: #14d19e;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.tipjar_bg {
  background-color: #ff7fa5;
  color: #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.icon_cointainer {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.link_icon {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 10px;
  /* display at end of parent div */
  cursor: pointer;
  color: #676767;
}

.payreq_col1 {
  display: flex;
}

.link_name {
  font-size: 16px;
  font-weight: 500;
  color: #130b46;
  padding: 5px;
  margin: 10px 40px 10px 40px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 15px;
  width: 20vw;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  border-radius: 15px;
  width: 60%;
  margin-right: 2vw;
}

@media screen and (max-width: 768px) {
  .filter {
    width: 40vw;
  }

  .link {
    width: 60vw;
  }
}
