.links_container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 200px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: fit-content;
  height: 70px;
  padding: 0 20px;
  gap: 10px;
}

.payreq_bg {
  background-color: #14d19e;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.tipjar_bg {
  background-color: #ff7fa5;
  color: #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.icon_cointainer {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.link_icon {
  width: 20px;
  height: 20px;
  /* display at end of parent div */
  cursor: pointer;
  color: #676767;
}

.payreq_col1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link_name {
  font-size: 16px;
  font-weight: 500;
  color: #130b46;
  width: 200px;
}

.icon_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 15px;
  width: 20vw;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  border-radius: 15px;
  width: 60%;
  margin-right: 2vw;
}

@media screen and (max-width: 768px) {
  .filter {
    width: 40vw;
  }
}

@media screen and (max-width: 540px) {
  .link {
    min-width: 300px;
    justify-content: flex-start;
  }

  .link_name {
    font-size: 14px !important;

    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media screen and (max-width: 450px) {
  .link {
    padding: 0 10px;
  }
}

@media screen and (max-width: 380px) {
  .payreq_col1 {
    gap: 10px;
  }
  .link {
    gap: 20px;
  }

  .link_name {
    width: 100px;
  }
}
