.settings_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 20px 40px 20px;
}

.update_button {
  width: 250px;
  height: 60px;
  color: #130b46;
  background-color: #8affcb;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
}

.cancel_button {
  width: 250px;
  height: 60px;
  color: #130b46;
  background-color: #e9e9e9;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
}

.settings_container h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin: 0 auto 50px auto;
  text-align: center;
  color: #130b46;
}

.settings_container h4 {
  font-weight: 600;
  font-family: "Manrope" !important;
  margin: 10px auto 20px auto;
  text-align: center;
  color: #130b46;
}

.settings_container h3 span {
  color: #646464;
  font-weight: 500;
}

.settings_container h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.settings_container img {
  width: 100%;
  /* max-width: 80vh; */
  margin: 0 auto 10px auto;
}

.settings_container p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  max-width: 400px;
  color: #130b46;
}

.banner_img {
  width: 100%;
  height: 380px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.banner_img button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 20px;
  background: transparent;
  z-index: 3;
  transition: 0.8s;
}

.banner_img button:hover {
  background: #2222227b;

}

.banner_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 23, 0.5);
  z-index: 2;
}

.banner_img_blur {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px);
}

.banner_img_no_blur {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(15px); */
}

.social_links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px auto 50px auto;
}

.social_links div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings_info_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.primary_cta {
  background: #8affcb;
  color: #130b46;
  width: 230px;
  font-weight: bold;
  outline: none;
  border-radius: 50px;
  padding: 15px;
  border: 0;
  text-align: center;
}

.settings_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 100%;
  padding: 0 2px;
  box-sizing: border-box;
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: right;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.info_item label {
  font-size: 12px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}

.info_item h6 {
  color: #130b46;
}

/* .info_item input {
  font-size: 12px;
  font-weight: 400;
  margin: 0;

  font-family: "Manrope", sans-serif;
  background: rgba(122, 122, 122, 0.349);
} */

.info_item textarea {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  background: rgba(122, 122, 122, 0.349);
}

.short_input {
  width: 20vw;
  overflow: hidden;
}

.info_item textarea {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 120px;
  background: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.info_item input {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 50px;
  background: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.info_item input:hover {
  background: #fafafa;
}
.info_item input:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(23, 23, 23, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(23, 23, 23, 0.5);
  box-shadow: 0 0 2px 1px rgba(23, 23, 23, 0.5);
  border: 1px solid #111111;
  background: #fafafa;
}

.long_input {
  width: 40vw;
  height: 10vh;

  /* wrap text */
  word-wrap: break-word;
  overflow: hidden;
}

.edit_button {
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #000000;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}

.info_item span {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-style: italic;
  color: lightslategray;
}