.single_product_order {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 20vw;
  width: 100%;
  gap: 20px;
  height: auto;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.single_product_order_info_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: fit-content;
}

.single_product_order_info_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: fit-content;
}

.single_product_order_placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.copy_icon {
  /* display: flex;
  align-items: center; */
  font-size: 14px;
  margin-left: 50px;
  color: rgb(62, 117, 255);
}

#email {
  position: relative;
}

#hiddenBuyer {
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: 100;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-width: 100%;
  display: none;
  margin: 0;
  padding: 20px;
}

#hiddenEmail {
  position: absolute;
  bottom: -20px;
  left: -70px;
  z-index: 100;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-width: 100%;
  display: none;
  margin: 0;
  padding: 20px;
}

#shownBuyer,
#shownEmail,
#shownText {
  display: flex;
  align-items: center;
}

#hiddenBuyer p {
  line-height: 32px;
}

.single_product_order_placeholder:hover #hiddenBuyer {
  display: flex;
}

.single_product_order_placeholder:hover #shownBuyer {
  display: none;
}

#hiddenText {
  display: none;
}

.single_product_order_placeholder:hover #hiddenText {
  display: flex;
}

.single_product_order_placeholder:hover #shownText {
  display: none;
}

#hiddenEmail {
  display: none;
}

.single_product_order_placeholder:hover #hiddenEmail {
  display: flex;
}

.single_product_order_placeholder:hover #shownEmail {
  display: none;
}

.product_details_container {
  padding: 40px 180px 20px 180px;
}

.product_details_row {
  display: flex;
  gap: 80px;
}

.product_details_col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.back_wrapper {
  display: flex;
  align-items: center;
}

.prod_back_to_shop {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1px;
  margin-left: 5px;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  background-color: #ffffff;
  border-width: 0;
}

/* CSS */
.button_56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Manrope" !important;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  touch-action: manipulation;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.product_details_img {
  position: relative;
}

.product_details_img::after {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #000;
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
}

.prod_img {
  max-width: 550px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}

.prod_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_details_owner {
  font-size: 18px;
  margin: 2px 0 0px 0;
  max-width: 200px;
  white-space: nowrap;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product_details_owner span {
  margin-left: 15px !important;
  font-weight: 600;
}

.product_details_name {
  font-size: 28px;
  max-width: 600px;
  font-weight: 200;
  margin: 30px 0;
}

.product_details_price {
  /* margin-top: 5px; */
  font-size: 25px;
  font-weight: 600;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.product_details_price::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #000;
  margin-right: 20px;
  border-radius: 50px;
}

.product_details_desc_head {
  margin: 10px 0 0px 0;
  font-weight: 600;
  font-size: 18px;
  color: #4f4f4f;
}

.product_details_desc_init {
  font-size: 18px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .product_details_img {
    border: 1px solid #000;
    border-radius: 20px;
  }
  .product_details_img::after {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .product_details_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 70px 20px 70px;
  }
  .product_details_row {
    gap: 60px;
  }
}
@media screen and (max-width: 767px) {
  .product_details_container {
    padding: 40px 40px 20px 40px;
  }
  .product_details_row {
    gap: 40px;
  }
}
@media screen and (max-width: 700px) {
  .product_details_row {
    flex-direction: column;
    gap: 20px;
  }
  .product_details_owner {
    margin: 2px 0 0px 0;
  }
  .prod_img {
    max-width: 550px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
  }
  .single_product_order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

/* mobile devices */
@media screen and (max-width: 600px) {
  .product_details_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 70px 20px 70px;
  }
}
@media screen and (max-width: 400px) {
  .product_details_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 70px 20px 70px;
  }
  .product_details_row {
    gap: 1px;
  }
  .product_details_name {
    font-size: 30px;
  }

  .product_details_price {
    font-size: 20px;
  }
}
@media screen and (max-width: 280px) {
  .product_details_price::before {
    width: 30px;
    margin-right: 10px;
  }
}
