
.header_container {
  background-color: #3e367b;
  height: 100%;
  width: 80vw;
  display: flex;
  margin-right: 0;
  /* margin-left: 20vw; */
  justify-content: space-between;
  color: black;
}

.header_container #block_a {
  font-family: "Manrope", sans-serif;
  width: 20vw;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin-left: 2vw;
  cursor: pointer;
}

.header_container #block_b {
  width: 50vw;
  margin-left: 45vw;
  display: flex;
  justify-content: flex-end;
}

.toggle {
  margin-top: -5vh;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  height: fit-content;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: fit-content;
  border: none;
}

.navbar_collapse {
  display: flex;
  height: fit-content;
  border: "none";
  align-items: flex-end;
  color: white;
}

.logo_img {
  width: 100px;
  margin-top: 10px;
}

.owner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 750px;
}

.create_product_button {
  margin: 10px;
  padding: 20px 30px 20px 30px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  position: flex;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  background: #000;
  box-shadow: 7px 7px 0 #9d8ddf;
  transition: all 0.3s ease;
  font-family: "Manrope", sans-serif;
  z-index: 1;
}

.disconnect_button_container {
  /* margin: 10px; */
  /* margin-top: 40px; */
  padding: 20px 15px 20px 15px;
  border-radius: 12px;
  border: 2px solid #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000 !important;
  background: transparent !important;
  transition: all 0.3s ease;
  font-family: "Manrope", sans-serif;
}

.disconnect_button {
  background: transparent !important;
  color: #000 !important;
  padding-top: 10px !important;
  border-radius: 12px;
  border: 2px solid #d9d9d9 !important;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  cursor: pointer;
}

.hide_cart_button {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  color: red;
  background-color: transparent;
  z-index: 2;
}

.multi_store_selection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.multi_store_option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  background: transparent;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }

  .logo_img {
    height: 4em;
  }

  .owner_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
  }

  .create_product_button {
    /* margin: 10px; */
    /* padding: 20px 30px 20px 30px; */
    border-radius: 12px;
    width: fit-content;
    border: none;
    font-size: 8px;
    /* font-weight: 500; */
    position: flex;
    /* top: 20px; */
    right: 20px;
    cursor: pointer;
    color: #fff;
    background: #000;
    box-shadow: 7px 7px 0 #9d8ddf;
    transition: all 0.3s ease;
    font-family: "Manrope", sans-serif;
    z-index: 1;
  }

  /* .disconnect_button {
    margin: 10px;
    border-radius: 12px;
    width: fit-content;
    border: 1px solid #d9d9d9;
    font-size: 8px;
    font-weight: 200;
    height: 60px;
    cursor: pointer;
    color: #000;
    background: transparent;
    transition: all 0.3s ease;
    font-family: "Manrope", sans-serif;
    margin-left: 25vw;
  } */
}
