.paylink_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.green_bar {
  background: #8affcb;
  height: 10px;
  width: 120px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.pay_container {
  background: #ffffff;
  border-radius: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  margin-top: 5px;
  box-shadow: -1px 6px 50px 0px rgba(172, 172, 172, 0.15);
  -webkit-box-shadow: -1px 6px 50px 0px rgba(172, 172, 172, 0.15);
  -moz-box-shadow: -1px 6px 50px 0px rgba(172, 172, 172, 0.15);
}

.shipping_flex {
  margin-top: 5px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  box-shadow: -1px 6px 50px 0px rgba(172, 172, 172, 0.15);
  -webkit-box-shadow: -1px 6px 50px 0px rgba(172, 172, 172, 0.15);
  -moz-box-shadow: -1px 6px 50px 0px rgba(172, 172, 172, 0.15);
}

.split_col{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #000;
}

.pay_container .img {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pay_content {
  margin: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pay_title {
  font-size: 19px;
}

.pay_title,
.price_pricebutton span {
  font-weight: bold;
  position: relative;
}

.price_pricebutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_pricebutton span::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 40px;
  background: #000;
  top: 10px;
  left: 0;
}

.shipping_details_flex {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.price_pricebutton span {
  padding-left: 50px;
}

.pay_btn {
  background: #000;
  border-radius: 8px;
  padding: 15px;
  color: #fff;
  width: 120px;
  margin-top: 8px;
}

.edit_btn {
  background: white;
  border-radius: 8px;
  padding: 15px;
  color: black;
  width: 80px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  line-height: 1px;
}

.edit_btn:hover {
  background: #000;
  color: #fff;
}

.edit_btn:focus {
  outline: none;
  background-color: red;
  color: white;
}

.product_details_price {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.pay_copy {
  font-size: 16px;
  margin: 0 0 30px 0;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tip_input {
  width: 40%;
  height: 60px;
  border-radius: 10px;

  padding: 10px;
  margin: 4px;
}

@media screen and (max-width: 768px) {
  .paylink_page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
  }

  .green_bar {
    background: #8affcb;
    height: 1200px;
    width: 10px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .pay_container {
    flex-direction: column;
    min-width: 90vw;
    align-items: center;
    justify-content: center;
  }

  .product_details_price {
    width: 100%;
  }
}
